{
    "debug": true,
    "monolog": {
        "logfile": "/../logs/acp.log",
        "name": "ACP"
    },
    "db.options": {
        "driver": "pdo_mysql",
        "host": "localhost",
        "port": 3306,
        "dbname": "acp",
        "user": "acp",
        "password": "",
        "charset": "utf8",
        "default_limit": 10,
        "max_limit": 100
    },
    "metadata": {
        "dataset" : "acp",
        "version" : "version_YYYY_MM",
        "entityType" : [ "Entity1", "Entity2" ],
        "description" : "Description of the dataset",
        "creationDate" : "YYYY-MM-DD HH:MM:SS",
        "contact_person" : "Name of the owner",
        "contact_organisation" : "Institution of the owner",
        "contact_email" : "email@example.org"
    },
    "trustedProxies": [],
    "accessToken": ""
}
