{
    "debug": true,
    "monolog": {
        "logfile": "/../logs/acp_nano.log",
        "name": "ACP Nano"
    },
    "db.options": {
        "driver": "pdo_mysql",
        "host": "localhost",
        "port": 3306,
        "dbname": "nano",
        "user": "nano",
        "password": "",
        "charset": "utf8"
    },
    "trustedProxies": [],
    "accessToken": ""
}
